{% extends 'SurveyApp/decorator.html' %}

{% block content %}
<div class="survey11">

{% for a in survey %}
<form method="POST" name="surveyform" class="survey-form" onsubmit="return false">{% csrf_token %}
   <h3>{{survey.title}}</h3>

     <div name="question_answer_area">
     <div name="question_area">
       <!-- Right aligned menu below button -->
       {% for que in question %}
         <p> 질문 :
           {{ que.title }}
         </p>
        <input type="hidden" name="limit"/>
        {% if que.type == 'select'%}
        <select>
            {% for ans in answer %}
              <option value='{{ans.id}}'>{{ans.content}}</option>
            {% endfor %}
        </select>
        {% endif %}
        {% if que.type == 'checkbox' %}
          {% for ans in answer %}
          <label class="mdl-checkbox mdl-js-checkbox" for="checkbox1">
            <input type="checkbox" id="checkbox1" class="mdl-checkbox__input">
            <span class="mdl-checkbox__label">{{ans.content}}</span>
          </label>
          {% endfor %}
        {% endif %}
        {% if que.type == 'radio'%}
          {% for ans in answer %}
        <label class="mdl-radio mdl-js-radio" for="radio1">
          <input type="radio" id="radio1" class="mdl-radio__input">
          <span class="mdl-radio__label">{{ans.content}}</span>
        </label>
          {% endfor %}
        {% endif %}
        {% if que.type == 'textfield'%}
        {% endif %}

        {% endfor %}


    </div>
    </div>
</form>
{% endfor %}
</div>
{% endblock content %}
