{% extends 'SurveyApp/decorator.html' %}

{% block content %}
<div class="mdl-card mdl-cell mdl-cell--12-col">
  <div class="mdl-card__supporting-text">
    <h4>설문조사 목록</h4>

  <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
  <thead>
    <tr>
      <th>No.</th>
      <th>설문조사명</th>
    </tr>
  </thead>
  <tbody>
      {% for survey in survey_list %}
    <tr>
      <td><a href="/survey/{{survey.id}}">{{survey.id}}</a></td>
      <td><a href="/survey/{{survey.id}}">{{survey.title}}</a></td>
    </tr>
      {% endfor %}
  </tbody>
</table>
</div>
<button onclick="location.href='/survey/form'"class="mdl-button mdl-js-button mdl-button--fab mdl-button--colored">
  <i class="material-icons">add</i>
</button>

</div>

{% endblock content %}
